<%= render "shared/header" %>
<div class='main'>

  <%# トップ画像分 %>
  <div class='title-contents'>
  </div>
  <%# /トップ画像 %>

  <%# 映画一覧 %>
  <div class='movie-contents'>
    <h2 class='title'>映画一覧</h2>
    
    <ul class='movie-lists'>
    <% @movies.each do |movie| %>
      <li class='list'>
        <%= link_to movie_path(movie.id) do %>
        <div class='movie-img-content movie-img-hover'>
          <%= image_tag movie.image, class: "top-movie-img" if movie.image.attached?  %>
        </div>
        <div class='movie-info'>
          <h3 class='movie-name'>
            <%= movie.title %>
          </h3>
        </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <%# 映画一覧 %>

</div>

<%= render "shared/footer" %>