<%= render "shared/header" %>

<%# 映画の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @movie.title %>
    </h2>

    <div class="review-img">
      <div class="item-img-content">
        <%= image_tag @movie.image, class:"item-box-img" %>
      </div>
    </div>

    <div class="item-price-box">
      <span class="item-price">
        <%= @movie.summary %>
      </span>
      <span class="item-postage">
        <%= @movie.category.name %>
      </span>
    </div>

    <%#<% if user_signed_in? && @item.destination.nil? %>
      <%#<% if current_user.id == @item.user_id %>
      <%#<%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <%#<p class="or-text">or</p>
      <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
      <%#<% else %> 
      <%#<%= link_to "購入画面に進む", item_destinations_path(@item.id), class:"item-red-btn"%>
      <%#<% end %>
    <%#<% end %>


    <div class="item-explain-box">
      <span><%= @movie.title %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @movie.category.name %></td>
        </tr>
        <tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /映画の概要 %>

  <%# レビュー %>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@movie, @review], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="reviews">
      <h4>＜コメント一覧＞</h4>
      <% @reviews.each do |review| %>
        <p>
          <strong><%= link_to review.user.name, "/users/#{review.user_id}" %>：</strong>
          <%= review.text %>
        </p>
      <% end %>
    </div>
  </div>
 
  <%# /レビュー %>

  <a href="#" class="another-item"><%= @movie.category.name %>映画をもっと見る</a>

</div>
<% if user_signed_in? && current_user.id %>
  <%= link_to(new_movie_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>投稿する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% end %>

<%= render "shared/footer" %>
