<%= render "shared/second-header" %>

<%# 映画の概要 %>
<div class="movie-show">
  <div class="movie-box">

    <div class="show-box">
      <div class="show-movie-img">
        <div class="movie-img-content">
          <%= image_tag @movie.image, class:"movie-box-img" %>
        </div>
      </div>

      <span class="movie-title-box">
        <%= @movie.title %>
      </span>

      <div class="summary-box">
        <span class="summary">
          <%= @movie.summary %>
        </span>

        <span class="category">
          <div class="category-line">カテゴリー：<%= @movie.category.name %></div>
        </span>
      </div>
      <%# 星評価の平均点 %>
        <div class="show-star-rating mb-2">
          <div class="star-rating-front" style="width: <%= @movie.review_rate_percentage %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
          <div class="show-star-rating-score"><%= @movie.avg_rate %></div>
        </div>
      <%# 星評価の平均点 %>
    </div>

    <%# お気に入りボタン %>
    <span id="like_button_<%= @movie.id %>">
      <%= render "likes/like", movie: @movie %>
    </span>
    <%# お気に入りボタン %>

    <%#<% if user_signed_in? && @item.destination.nil? %>
      <%#<% if current_user.id == @item.user_id %>
      <%#<%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <%#<p class="or-text">or</p>
      <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
      <%#<% else %> 
      <%#<%= link_to "購入画面に進む", item_destinations_path(@item.id), class:"item-red-btn"%>
      <%#<% end %>
    <%#<% end %>

  </div>
  <%# /映画の概要 %>

  <%# レビュー %>

  <div class="review-container">

  <% if user_signed_in? %>
    <%= link_to(new_movie_review_path(@movie.id), class: 'new-review-btn') do %>
      <span class='purchase-btn-review'>レビューを投稿する</span>
    <% end %>
   <% else %>
    <strong><p>※※※ レビューの投稿には新規登録/ログインが必要です ※※※</p></strong>
   <% end %>
    

    <div id="reviews">
      
   
      <h4>＜みんなのレビュー＞</h4>（<%= @movie.reviews.count %>件）
      <% @movie.reviews.each do |review| %>
        <div class="review">
          <p>
            <div class="star-rating mb-2">
              <div class="star-rating-front" style="width: <%= review.rate*100/5 %>%">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
              <div class="star-rating-score"><%= review.rate %></div>
            </div>
            <%= review.title %>
            <p><%= review.text %></p>
            <div class="review-user"><%= link_to review.user.name, "/users/#{review.user_id}" %>さんのレビュー</div>
          </p>

          <%# いいねボタン %>
          <div id="favorite_button_<%= review.id %>">
            <%= render "favorites/favorite", review: @review %>
          </div>
          <%# /いいねボタン %>

        </div>
      <% end %>
    </div>
  </div>
  <%# /レビュー %>
  
</div>

<%= render "shared/footer" %>
