<%= render "shared/second-header" %>

<div class="my-page-contents row">
  <p class="my-page-top"><%= @name %>さんのレビュー投稿一覧</p>

 
    <% @reviews.each do |review| %>
      <div class="my-page-review">
        <div class="my-page-box">
          <div class="my-page_rate">
            <div class="star-rating">
    
              <div class="star-rating-front" style="width: <%= review.rate*100/5 %> %">★★★★★</div>
              <div class="star-rating-back">★★★★★</div>
            </div>
          </div>
            <p><%= review.title %></p>
            <p><%= review.text %></p>
          </div>
                    
          <% if user_signed_in? %>
          <% if current_user.id == review.user_id %>
            <div class="review__manage">
              <%= link_to "編集", edit_movie_review_path(review.id), method: :get, class: "my-page-pull-down" %>
              <%= link_to "削除", movie_review_path(review.id), method: :delete, class:"my-page-pull-down" %>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

</div>