<div class='footer'>
  <div class='footer-contents'>
    <div class='review-details'>
      <h2 class='footer-content-head'>Review Diaryについて</h2>
      <ul>
        <li><%= link_to '会社概要', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='review-details'>
      <h2 class='footer-content-head'>映画を探す</h2>
      <ul>
        <li><%= link_to 'カテゴリーから探す', "#", class: "footer-link" %></li>
        <li><%= link_to 'タイトルから探す', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='review-details'>
      <h2 class='footer-content-head'>ヘルプ&ガイド</h2>
      <ul>
        <li><%= link_to 'ヘルプ', "#", class: "footer-link" %></li>
        <li><%= link_to 'ご利用ガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'よくある質問', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© Review Diary</p>
</div>