<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class= 'top-logo'>
    <%= link_to image_tag("top-logo-4.png", class:"app-icon"), "/" %>
  </div>

  <%# 検索フォーム %>
  <div class= 'search-form'>
    <%= search_form_for @q do |f| %>
      <%= f.search_field :title %>
      <%= f.submit %>
    <% end %>
  </div>
  <%# /検索フォーム %>

  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? && current_user.admin? %>
        <li><%= link_to '映画を投稿する', new_admin_movie_path, class: 'movie-post'%></li> 
        <li><%= "#{current_user.name}"%></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% elsif user_signed_in? %>
        <li><%= link_to 'カレンダー', events_path, class: 'nav-calendar'%></li> 
        <li><%= link_to current_user.name, "/users/#{current_user.id}", class: "user-name" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li> 
       <% else %>
        <li><%= link_to '映画を検索する', search_movies_path, class: "top-searth" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>