<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">作品の情報を入力</h2>
    <%= form_with model: [:admin, @movie], local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 作品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        作品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /作品画像 %>
    <%# 映画タイトルと概要 %>
    <div class="new-items">
      <div class="weight-bold-text">
        映画タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"映画タイトル", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          概要
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :summary, class:"items-text", id:"item-info", placeholder:"映画の概要（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /映画タイトルと概要 %>

    <%# 映画の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>
    <%# /映画の詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">Review Diary利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Review Diary,Inc.
    </p>
  </footer>
</div>