<%= render "shared/second-header" %>

<div class="new-review-container">

<% if @review.errors.any? %>
  <div class="notification is-danger">
    <h2><%= @review.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="review-form">
    <div class="head">
      <h2>レビューを編集</h2>
    </div>

      <div class = "new-reviews">
        <%= form_with(model: [@movie, @review], url: movie_review_path, local: true, id: "review-form") do |form| %>
        <div class="rating-box mt-3">
          <div class="main-rating">
            <div class="ratings mb-3">
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
            </div>
            <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
          </div>
          <%= form.hidden_field :movie_id, value: @movie %>
          <%= form.hidden_field :rate, id: "rating-value" %>
        </div>
        
          <div class="weight-bold-text">
          タイトル
          <span class="indispensable">必須</span>
          </div>
          <%= form.text_area :title, placeholder: "タイトル", rows: "1", class: "new-review-title" %>

           <div class="weight-bold-text">
          レビュー
          <span class="indispensable">必須</span>
          </div>
          <%= form.text_area :text, placeholder: "レビューする", rows: "5", class: "new-review-text" %>

          <%= form.submit "編集する", class: "new-review-submit" %>
          <p><%= link_to 'もどる', root_path, class:"back-btn" %></p>

        <% end %>
      </div>
  </div>
</div>

<%= javascript_include_tag 'reviews.js' %>